.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# .net
*.dll
*.exe
*.pdb
*.cache
*.resources
*.local
*.so
*.so.*
*.a
*.lib
*.plist
*.sln

# blazor
*.ide
obj/
bin/
