@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<canvas id="canvas" style="display: none;"></canvas>
@if (imageSource != null)
{
    <img id="image" src="@imageSource" />
}
else
{
    <div class="loader">
        <div class="jumpy-bars">
        <div class="bar" id="bar1"></div>
        <div class="bar" id="bar2"></div>
        <div class="bar" id="bar3"></div>
        <div class="bar" id="bar4"></div>
        <div class="bar" id="bar5"></div>
        <div class="bar" id="bar6"></div>
        <div class="bar" id="bar7"></div>
        </div>
    </div>
}

<script src="makedot.js"></script>

@code {
    private String? imageSource = null;

    protected override async Task OnInitializedAsync()
    {
        await Action();
    }

    private async Task MakeDot()
    {
        await JSRuntime.InvokeVoidAsync("createDotWithGrowingAnimation");
    }

    private async Task Action()
    {
        for (int i = 0; i < 100; i++)
        {
            await Task.Delay(1000);
            await MakeDot();
            imageSource = await GetImageStream();
            StateHasChanged(); // 通知して再レンダリングをトリガーする
        }
    }

    private async Task<String> GetImageStream()
    {
        return await JSRuntime.InvokeAsync<String>("exportCanvasAsImage");
    }
}