body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
canvas {
    display: block;
}

#canvas {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: white;
}
.dot, .ripple {
    position: absolute;
    border-radius: 50%;
    transform-origin: center;
}
.ripple {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    opacity: 0;
    width: 0;
    height: 0;
}

.loader {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.jumpy-bars {
    display: flex;
    justify-content: space-evenly;
    width: 4.5em;
    height: 3.5em;
    gap: 0.3em;
  }
  #bar1 {
    animation-delay: 0.2s;
  }
  #bar2 {
    animation-delay: 0.4s;
  }
  #bar3 {
    animation-delay: 0.6s;
  }
  #bar4 {
    animation-delay: 0.8s;
  }
  #bar5 {
    animation-delay: 1s;
  }
  #bar6 {
    animation-delay: 1.2s;
  }
  #bar7 {
    animation-delay: 1.5s;
  }
  .bar {
    width: 1em;
    height: auto;
    opacity: 0;
    background-color: gray;
    border-radius: 100%;
    animation: jumping-bars 1s linear infinite alternate-reverse;
  }
  
  @keyframes jumping-bars {
    0% {
      opacity: 1;
      transform: scaleY(0);
    }
    50% {
      opacity: 1;
      transform: scaleY(0.5);
    }
    100% {
      opacity: 1;
      transform: scaleY(1.8);
    }
  }
  